#6

#(efficient version of bubble sort, ---print kth largest element, ---a,f,e,c sort , ---if the 1st and 2nd letters are same ,print the same order, ---subarray there is a prime number arrange then in the order, ---sort them based on the size of the words(doctor), ---#bucket sort)    #lexographical order  ##bucket sort

#efficient version of bubble sort

In [ ]:
#Q1
# efficient version of bubble sort


a = [64, 34, 25, 12, 22, 11, 90]
c=0
for j in range(len(a)-1):
  f=False
  for i in range(0,len(a)-1-j):
    c=c+1
    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  if(f==False):
    break
  print(a)
  print(c)

[34, 25, 12, 22, 11, 64, 90]
6
[25, 12, 22, 11, 34, 64, 90]
11
[12, 22, 11, 25, 34, 64, 90]
15
[12, 11, 22, 25, 34, 64, 90]
18
[11, 12, 22, 25, 34, 64, 90]
20

In [ ]:
#----------normal bubble sort code
# def  #s




# -------------------------------------------------------------------------------------------------

# a = [64, 34, 25, 12, 22, 11, 90]         #sir code
# n=len(a)
# for _ in range(n):
#   for i in range(0,n-1):
#     if (a[i]>a[i+1]):
#       a[i],a[i+1]=a[i+1],a[i]             # printing thr arr for n-1 times , already sorted arr is also printing
#   print(a)
#--
a = [64, 34, 25, 12, 22, 11, 90]            # this this is the solution for the above problem
n=len(a)
for _ in range(n):
  f=False
  for i in range(0,n-1):
    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  if(f==False):
    break
  print(a)
# ----------------------------------------------------------------------------------------------



# def sort(arr):
#   n=len(arr)
#   for i in range(n):
#     for j in range(0,n-i-1):
#       if arr[j]>arr[j+1]:
#         arr[j],arr[j+1]=arr[j+1],arr[j]
#   return arr
# arr = [64, 34, 25, 12, 22, 11, 90]
# print(sort(arr))

[34, 25, 12, 22, 11, 64, 90]
[25, 12, 22, 11, 34, 64, 90]
[12, 22, 11, 25, 34, 64, 90]
[12, 11, 22, 25, 34, 64, 90]
[11, 12, 22, 25, 34, 64, 90]

In [ ]:
#Q2

# a=[5,2,3,8,1,6,7]
# k=2   remaining first and last 2 numbers
# output= [5,2,1,3,8,6,7]

a = [64, 34, 25, 12, 22, 11, 90]             #edit it
c=0
for j in range(len(a)-1):
  f=False
  for i in range(0,len(a)-1-j):
    c=c+1
    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  if(f==False):
    break
  print(a)
  print(c) # number of swaps count

[34, 25, 12, 22, 11, 64, 90]
6
[25, 12, 22, 11, 34, 64, 90]
11
[12, 22, 11, 25, 34, 64, 90]
15
[12, 11, 22, 25, 34, 64, 90]
18
[11, 12, 22, 25, 34, 64, 90]
20

In [ ]:
#Q3

# print the kth largest element       using bubble sort

# a=[2,5,8,6,3,1,9,4,7]
# k=3
# output:7

# a=[2,5,8,6,3,1,9,4,7]          #my
# n=len(a)
# k=3
# for j in range(n):
#   f=False
#   for i in range(0,n-1-j):
#     if (a[i]>a[i+1]):
#       f=True
#       a[i],a[i+1]=a[i+1],a[i]
#   if i==k-1:
#     print(a[-k])         #op=7
#     break
#   if(f==False):
#     break



#--------------

a = [64, 34, 25, 12, 22, 11, 90]             #sir
k=3                                                     #wrong op

for j in range(len(a)-1):
  f=False
  for i in range(0,len(a)-1-j):

    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  k=k-1
  if(f==False or k==0):
    break
  # print(a)
  print(a[k-1])

25
25

In [ ]:
a = [64, 34, 25, 12, 22, 11, 90]                 #sir         #correct
k = 3

n = len(a)
for j in range(n - 1):
    f = False
    for i in range(0, n - 1 - j):
        if a[i] < a[i + 1]:  # sort in descending order
            a[i], a[i + 1] = a[i + 1], a[i]
            f = True
    if not f:
        break

print(f"{k}th largest element is:", a[k - 1])

3th largest element is: 34

In [ ]:
# kth largest element in bubble sort      #mahi

a=[3,5,1,2,4,7,7,8]
k=3
a=list(set(a))
for i in range(len(a)-1):
    swapped=False
    for j in range(len(a)-1-i):
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
        swapped=True
    if not swapped:
        break
    if i==k:
        print(a[len(a)-i])
print(a)

5
[1, 2, 3, 4, 5, 7, 8]

In [ ]:
#Q4

# a=['c','e','a','b','f']                       #using bubble sort
# output = [a,b,c,e,f]                  #ord for ascii


a=['c','e','a','b','f']             #
for j in range(len(a)-1):
  f=False
  for i in range(0,len(a)-1-j):
    # c=c+1
    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  if(f==False):
    break
print(a)
  # print(c)

['a', 'b', 'c', 'e', 'f']

In [ ]:
#Q5

# a=[[2,3],[5,1],[1,4],[2,7],[1,3]]              # using bubble sort
# output =[[5,1],[2,3],[1,3],[1,4],[2,7]]


# a=[[2,3],[5,1],[1,4],[2,7],[1,3]]      #incomlete
# for i in range(len(a)-1):
#   i[i][1]>a[i+1][1]:



a = [[2,3,],[5,1],[1,4],[2,7],[1,3]]
c=0
for j in  range(len(a)-1):
  a1=False
  for i in range(len(a)-1-j):
    c+=1
    if (a[i][1]>a[i+1][1]):
      a[i],a[i+1]=a[i+1],a[i]
      a1=True
  if a1==False:
    break
print(a)

[[5, 1], [2, 3], [1, 3], [1, 4], [2, 7]]

Q6               
a=["zebra","cat","apple","car","bat"]    -------------#lexographical order           
output=['apple', 'bat', 'cat', 'car', 'zebra']           
if the 1st and 2nd letters are same ,print the same order

In [ ]:
# #Q6
# a=["zebra","cat","apple","car","bat"]
# output=['apple', 'bat', 'cat', 'car', 'zebra']                     #lexographical order
# if the 1st and 2nd letters are same ,print the same order

a=["zebra","cat","apple","car","bat"]

for j in range(len(a)-1):                           # slit different output
  f=False
  for i in range(0,len(a)-1-j):
    if (a[i]>a[i+1]):
      f=True
      a[i],a[i+1]=a[i+1],a[i]
  if(f==False):
    break
print(a)

['apple', 'bat', 'car', 'cat', 'zebra']

#lexographical order

In [ ]:
#
# a=["zebra","cat","apple","car","bat"]                     ## lexographical order
# output=['apple', 'bat', 'cat', 'car', 'zebra']                     # correct code
# if the 1st and 2nd letters are same ,print the same order

a=["zebra","cat","apple","car","bat"]
c=0
for j in  range(len(a)-1):
  a1=False
  for i in range(len(a)-1-j):
    c+=1
    if (a[i][0:1]>a[i+1][0:1]):
      a[i],a[i+1]=a[i+1],a[i]
      a1=True
  if a1==False:
    break
print(a)

['apple', 'bat', 'cat', 'car', 'zebra']

In [ ]:
a=['school', 'car', 'hello', 'bet', 'apple','cat','bat']               #sir code
for i in range(len(a)-1):
  f=False
  for j in range(len(a)-1-i):
    if (a[j][0]>a[j+1][0]):
      a[j],a[j+1]=a[j+1],a[j]
      f=True
    elif (a[j][0]==a[j+1][0] and a[j][1]>a[j+1][1]):
      a[j],a[j+1]=a[j+1],a[j]
      f=True
  if f==False:
    break
print(a)

['apple', 'bat', 'bet', 'car', 'cat', 'hello', 'school']

Q7                  
n=[[14,13,12],[8,10,5],[7,9,20],[14,8,3]]     
output =[14,8,3],[8,10,5],[7,9,20],[14,13,12]         
in the subarray there is a prime number arrange then in the order, using bubble sort

In [ ]:
#  ------------Q7
# in the subarray there is a prime number arrange then in the order, using bubble sort
# n=[[14,13,12],[8,10,5],[7,9,20],[14,8,3]]
# output =[14,8,3],[8,10,5],[7,9,20],[14,13,12]


def prime(x):                                  #sir
  for i in x:
    for j in range(2,int(i**0.5)+1):
      if(i%j==0):
        break
    else:
      return i
a=[[14,13,12],[8,10,5],[7,9,20],[14,8,3]]
b=[]
for i in a:
  b.append(prime(i))
# print(b)  #print the prime numders       #op=[13, 5, 7, 3]
for i in range(len(b)-1):                #bubble sort code
  for j in range(len(b)-1-i):
    f=0
    for j in range(len(b)-1-i):
        if(b[j]>b[j+1]):
            b[j],b[j+1]=b[j+1],b[j]
            a[j],a[j+1]=a[j+1],a[j]
            f=1
    if(f==0):
        break
print(a)

[[14, 8, 3], [8, 10, 5], [7, 9, 20], [14, 13, 12]]

#sort them based on the size of the words

In [ ]:
# "an apple a day keeps doctor away"                #bubble sort
#  output = a an day away apple keeps doctor
# sort them based on the size of the words
#---------------------------------------------------------------------


# a="an apple a day keeps doctor away".split()   # with using len()  #my
# for i in range(len(a)-1):
#   for j in range(len(a)-1-i):
#     if (len(a[j])>len(a[j+1])):
#       a[j],a[j+1]=a[j+1],a[j]

# print(" ".join(a))


a="an apple a day keeps doctor away".split()   # without using len()  #sir code
b=[]
for i in a:
  b.append(len(i))
for i in range(len(b)-1):
  for j in range(len(b)-1-i):
    if (b[j]>b[j+1]):
      b[j],b[j+1]=b[j+1],b[j]
      a[j],a[j+1]=a[j+1],a[j]
      f=1
    if(f==0):
      break
print(" ".join(a))

an apple a day keeps doctor away

#bucket sort

sort the numbers according to the frequency/no of occerence-----> #bucket sort

In [ ]:
# input [7,2,6,3,6,7,7,2,2,2]         #sort the numbers according to the frequency/no of occerence  #bucket sort
# output=[3,6,6,7,7,7,2,2,2,2]

a=[7,2,6,3,6,7,7,2,2,2]         #sir code
d={}
for i in a:
  if (i not in d):
    d[i]=1
  else:
    d[i]+=1
print(d)         #dict
n=max(d.values())
b=[]
for i in range(n+1):
  b.append([])
print(b)               # bucket
for i in d.items():
  b[i[1]].append(i[0])
print(d)                      #dict
c=[]
for i in range(len(b)):
    for j in b[i]:
        c.extend([j]*i)
print(c)                           #output= [3, 6, 6, 7, 7, 7, 2, 2, 2, 2]

{7: 3, 2: 4, 6: 2, 3: 1}
[[], [], [], [], []]
{7: 3, 2: 4, 6: 2, 3: 1}
[3, 6, 6, 7, 7, 7, 2, 2, 2, 2]

In [ ]:
# input [7,2,6,3,6,7,7,2,2,2]         #sort the numbers according to the frequency/no of occerence
# # output=[3,6,6,7,7,7,2,2,2,2]

from collections import Counter               #used counter()
a = [7, 2, 6, 3, 6, 7, 7, 2, 2, 2]
counts = Counter(a)

def sort_by_frequency(item):
  return counts[item]

a.sort(key=sort_by_frequency)
print(a)

[3, 6, 6, 7, 7, 7, 2, 2, 2, 2]

#recap

In [ ]:
a=['apple','hi','hey','students','hello']
a.sort()
print(a)
a.sort(key=len)
print(a)

['apple', 'hello', 'hey', 'hi', 'students']
['hi', 'hey', 'apple', 'hello', 'students']

In [ ]:
def qwe(x):
  return x[1]
  # return x[0]+x[1]
a=[[3,9],[4,2],[10,1],[5,7],[3,8]]
a.sort()
print(a)
a.sort(key=qwe)
print(a)

[[3, 8], [3, 9], [4, 2], [5, 7], [10, 1]]
[[10, 1], [4, 2], [5, 7], [3, 8], [3, 9]]

In [ ]:
def qwe(x):                              #prime number
  for i in x:
    for j in range(2,int(i**0.5)+1):
      if(i%j==0):
        break
    else:
      return i
  return 0
  # return x[1]
  # return x[0]+x[1]
a=[[3,9],[4,2],[10,1],[5,7],[3,8]]
a.sort(key=qwe)
print(a)
a.sort(key=qwe,reverse=True)    #reverse
print(a)

[[10, 1], [4, 2], [3, 9], [3, 8], [5, 7]]
[[5, 7], [3, 9], [3, 8], [4, 2], [10, 1]]