#1

#check whether a given number is prime or not

In [ ]:
n=int(input())
count=0
for i in range(1,n+1):  #2,n//2+1
  if(n%i==0):
    count=count+1
if(count==2):  #<
  print("is prime")
  if(n>20):
    print(n,"is greater than 20")
  else:
    print(n,"is less than 20")
else:
  print("not prime")

5
is prime
5 is less than 20

In [ ]:
import math
def is_prime(x):
    isPrime=True
    if n<2:
        isPrime=False
    for i in range(2,int(math.sqrt(n)+1)): #int(n ** 0.5) + 1
        if n%i==0:
            isPrime=False
            break
    if isPrime:
        if n>200:
            print("Is prime and Greater than 200")
        else:
            print("Is prime and Less than or equal to 200")
    else:
        print("Not a prime")
n=int(input("enter a number: "))
is_prime(n)

enter a number: 32
Not a prime

In [ ]:
a=7
a=a-2
b=0
b=b+1+1
b=b-1
c=a^b
print(c)

4

#program to remove duplicate elements from a list

In [ ]:
list=[8,2,3,4,3,3,4,5,6,7,9,2]   #hetiro #dic ,set -----------hashing
list_s=[]
for i in list:
  if i not in list_s:#in O(n^2)
    list_s.append(i)
list_s

[8, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
list=[8,2,3,4,3,3,4,5,6,7,9,2]   #hetiro #dic ,set -----------hashing
list_s=[]
s = set()
for i in list:
  if i not in s:#in O(n^2)
    list_s.append(i)
    s.add(i)
list_s

[8, 2, 3, 4, 5, 6, 7, 9]

#program to calculate the sum of the first n natural numbers

In [ ]:
n = int(input())           #O(n)
sum = 0
for i in range(1, n + 1):
  sum += i
sum

6

21

In [ ]:
list =[8, 2, 3, 4, 5, 6, 7, 9] #sum of even numbers
s=0
for i in range(1,len(list),2):  #(0,len(list),2) sum of odd numbers
  s=s+list[i]
print(s)

21

In [ ]:
#find the number which is alone

from collections import Counter

def find_alone(data):
    counts = Counter(data)
    for num, count in counts.items():
        if count == 1:
            return num
    return None  # Return None if no number appears only once

# Example usage
numbers = [8, 2, 3, 4, 3, 3, 4, 5, 6, 7, 9, 2]
alone_number = find_alone(numbers)
if alone_number is not None:
    print("The number that appears only once is:", alone_number)
else:
    print("No number appears only once in the list.")

The number that appears only once is: 8

#program to find and print the first non-repeating element in a list

In [ ]:
a=[2,3,4,3,2,5,5]                      #O(n)
# s=0
# for i in a:
#   s=s^1
# print(s)

for i in range(len(a)-1):
  f=0
  for j in range(len(a)):
    if (a[i]==a[j] and i!=j):
      f=1
      break
  if f==0:
    print(a[i])

4

In [ ]:
# sorted arr inp using sliding window
# O(n)
a=[2,2,4,4,6,6,7,7,8,8,9]
res=0
for num in a:
    res^=num
print(res)

9

#program to find and print all the elements that occur only once in a list of integers

In [ ]:
from collections import Counter

m = list(map(int, input().split()))

res = dict(Counter(m))

for k, v in res.items():
    if v == 1:
        print(k)

2 3 4 3 2 5 6
4
5
6

---------

#Even and Odd without Modulo

In [ ]:

number = int(input("Enter a Number : "))
c = bin(number)
strc= str(c)
if int(strc[-1])==1:
    print("Odd")
else:
    print("Even")

Enter a Number : 5
Odd

In [ ]:

number= int(input("Enter a Number : "))
if (number^(number-1))==1:
  print("Odd")
else:
  print("Even")

Enter a Number : 10
Even

#Bitwise Operators

In [ ]:

number = int(input("Enter a Number : "))
if (number&1)==1:
    print("Odd")
else:
    print("Even")

Enter a Number : 10
Even

In [ ]:

print(2^1)
print(4^1)
print(6^1)
print(3^1)
print(5^1)
print(7^1)

print(3^2)
print(5^4)
print(7^6)
print(21^20)

3
5
7
2
4
6
1
1
1
1

In [ ]:

number= int(input("Enter a Number : "))
num = number^1
if num>number:
  print("Even")
else:
  print("Odd")

Enter a Number : 20
Even

In [ ]:

number= int(input("Enter a Number : "))
if(number%4==1):
  print(1)
elif(number%4==2):
  print(number+1)
elif(number%4==3):
  print(0)
else:
  print(number)

Enter a Number : 10
11

In [ ]:

number = int(input("Enter a Number : "))
print(1 if number % 4 == 1 else (number + 1 if number % 4 == 2 else (0 if number % 4 == 3 else number)))

Enter a Number : 13
1

In [ ]:

print(f"{input()}"*5)

hi
hihihihihi

In [ ]:

n = int(input())
l = int(input())
s=0
for i in range(n,l+1):
  s=s^i
print(s)

2
7
1

In [ ]:
# 5,10 do 5^6^7^8^9^10
n,m = map(int,input().split())
t = 1 if m%4==1 else(m+1 if m%4==2 else(0 if m%4==3 else m))
req = 1 if (n-1)%4==1 else(n-1+1 if (n-1)%4==2 else(0 if (n-1)%4==3 else (n-1)))
print(req ^ t)

2 9
0

#Check if 2 Powered Number 2 ^ n

In [ ]:

num = int(input())
print("yes" if num&(num) else "no")

32
yes

In [ ]:

print("Yes" if bin(int(input())).count('1') == 1 else "No")

128
Yes

#Input: encoded = [1,2,3], first = 1 Output: [1,0,2,1] Explanation: If arr = [1,0,2,1], then first = 1 and encoded = [1 XOR 0, 0 XOR 2, 2 XOR 1] = [1,2,3]

In [ ]:

def decode(encoded, first):
        arr=[first]
        for x in range(len(encoded)):
            arr.append(first ^ encoded[x])
            first = arr[-1]
        return arr
encoded = list(map(int,input().split()))
first = int(input())
print(decode(encoded,first))

1 2 3
1
[1, 0, 2, 1]

In [ ]:

x = -213
n ='-' + str(x)[::-1]
num = int(n[:-1])
print(type(num))

<class 'int'>

In [ ]:
#Finding The Longest Sequence

In [ ]:

nums = list(map(int,input().split()))
max=0
c=1
for i in range(len(nums)-1):
  if nums[i]+1==nums[i+1]:
    c+=1
  if nums[i]+1!=nums[i+1]:
    c=1
  if c>max:
    max=c
print(max)

1 2 3 2 3 4 5 6 7 8 9
8

In [ ]:

st = input()
c=1
for i in range(len(st)-1):
  if st[i]==st[i+1]:
    c+=1
  else:
    print(f"{st[i]}{c}",end='')
    c=1
print(f"{st[i]}{c}")

aaabbbaaabb
a3b3a3b2