#day 03 ----18/12/24

**01**   
The environmental eco club has discovered a new Amoeba that grows in the order of a Fibonacci series every month. They are exhibiting their amoeba in a national conference. They want to know the size of the amoeba at a particular time instant. If a particular month’s index is given, write a program to displays the amoeba’s size……??? For Example, The size of the amoeba on month 1, 2, 3, 4, 5, 6, ..will be 0, 1, 1, 2, 3, 5, 8 respectively. Input format: The first input containing an integer which denotes the number of the month Output format: Print the amoeba size. Refer the sample output for formatting.


Input (stdin)

7

Output (stdout)

8

Input (stdin)

3

Output (stdout)

1

In [ ]:
n=int(input())
a=0
b=1
# print(a,b,end=" ")
if n==1:
    print(0)
elif n==2:
    print(1)

else:
    for i in range(2,n):
        c=a+b
        a=b
        b=c
    print(c,end=" ")

7
8

In [ ]:
a=0
b=1
print(a,b,end=" ")
for i in range(0,n):
    c=a+b
    a=b
    b=c
    print(a,end=" ")

0 1 1 1 2 3 5 8 13 21 34 55

In [ ]:
n = int(input())
f1=0
f2=1
size = 0
for i in range(n-1):
  f1=f2
  f2=size
  size = f1+f2
print(size)

7
8

**02**    
Write a program to determine whether 'n' is a factorial number or not. Factorial of a number is the product of all positive numbers from 1 to 'n'. Input format: The input containing an integer 'n' which denotes the given number. Output format: If the given number is factorial, print "Yes". Otherwise, print "No". Refer the sample output for formatting.


Input (stdin)

6

Output (stdout)

Yes

Input (stdin)

2

Output (stdout)

Yes

In [ ]:
n=int(input())
i=1
factorial=1
while factorial<n:
    i=i+1
    factorial*=i
if factorial==n:
    print("Yes")
else:
    print("No")

6
Yes

In [ ]:
n=int(input())
product=1
lists=[]
for i in range(1,n+1):
  product*=i
  lists+=[product]
if(n in lists):
  print("Yes")
elif(n<0):
  print("No")
else:
  print("No")

9
No

**03**  
Description:
A vending machine continues to accept money until the total amount entered reaches or exceeds 100. The program will display a message once the target is achieved.

Input Format:

Multiple integers, one per line, representing money input.
Input terminates when the total reaches or exceeds 100.

Output Format:

Print Target achieved.

Sample Input:
20  
30  
50

Sample Output:
Target achieved

In [ ]:
i=0
while(i<101):
  a=int(input())
  i+=a
  if i==100:
    break

print("Target achieved")

52
93
Target achieved

**04**    
A supervisor needs to identify how many employees worked overtime (more than 8 hours). The program will accept the working hours for 6 employees and display the count of overtime workers.

Input Format:
first line of input contains n value integer.
next n integers.
Output Format:
Print Overtime workers: X, where X is the count.
Sample Input:   
6   
7  
9  
8  
10  
6  
9    
Sample Output:
Overtime workers: 3

In [ ]:
ott=0
n=int(input())
for i in range(n):
    h=int(input())
    if h>8:
        ott+=1
print(f"Overtime workers:{ott}")

6
7
9
8
10
6
9
Overtime workers:3

**05**    
A program calculates the sum of digits of an integer input using a while loop.

Input Format:   
A single integer.   
Output Format:    
Print Sum of digits: X, where X is the sum.    
Sample Input:    
1234    
Sample Output:   
Sum of digits: 10

In [ ]:
n=int(input())
sum=0
while(n>0):
  r=n%10
  sum+=r
  n//=10
print("Sum of digits:",sum)

1234
Sum of digits: 10

**06**     
A program repeatedly sums the digits of a number until a single-digit result is obtained.

Input Format:   
A single integer.   
Output Format:    
Print Single digit: X, where X is the result.   
Sample Input:      
Copy code    
987   
Sample Output:    
Single digit: 6

In [ ]:
n=int(input())

while(n>9):
  sum=0
  while(n>0):
      r=n%10
      sum+=r
      n//=10
  n=sum

print("Sum of digits:",n)

987
Sum of digits: 6

**07**   

A program counts the number of words in a given sentence.

Input Format:

A single line of text.

Output Format:

Print Word count: X, where X is the number of words.

Sample Input:

I love programming.

Sample Output:

Word count: 3

In [ ]:
#logic-1

print(len(input().split()))

nikhil
1

In [ ]:
#logic-2

sentence = input()
words = sentence.split()
word_count = len(words)
print(f"Word count: {word_count}")

nikhil
Word count: 1

In [ ]:
#logic-3

stg=input()
r= len(stg.split())
print(str(r))

**08**      
A program determines if a given number is an Armstrong number.

Input Format:   
A single integer.   
Output Format:   
Print X is an Armstrong number or X is not an Armstrong number.   
Sample Input:    
153   
Sample Output:   
153 is an Armstrong number.

In [ ]:
n = int(input())
my_number= n
sum = 0

while n > 0:
    digit = n % 10
    sum += digit ** 3
    n = n // 10
if my_number == sum:
    print(my_number, "is a amstrong number")
else:
    print(my_number,"not a amstrong")

153
153 is a amstrong number

**09**

Write a program to generate the following series 5, 16, 49, 104, 181... Input format: The input containing an integer which denotes 'n' Output format: Print the series and refer the sample output for formatting.


Input (stdin)

5   
Output (stdout)

5
16
49
104
181

Input (stdin)

10

Output (stdout)

5
16
49
104
181
280
401
544
709
896

In [ ]:
n=int(input())
t=5
d=11
for i in range(n):
  print(t,end=" ")
  t+=d
  d+=22

10
5 16 49 104 181 280 401 544 709 896

**Patterns**

In [ ]:
n=int(input())
for i in range(1,n+1): #(n)
  for j in range(1,n+1): #(n)
    print("*",end=" ")
  print()

#other way
n=int(input())
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
3
* * *
* * *
* * *

In [ ]:
n=int(input())
for i in range(1,n+1):  #(n)
  for j in range(1,i+1):  #(i+1)
    print("*",end=" ")
  print()



#other way

n=int(input())
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

3
*
* *
* * *
5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i+j>=n+1):     #>
      print("* ",end="")
    else:
      print("  ",end="")
  print()


print("-------------------")
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i+j<=n+1):   #<
      print("* ",end="")
    else:
      print("  ",end="")
  print()

print("-------------------")
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i<=j):   #<
      print("* ",end="")
    else:
      print("  ",end="")
  print()

print("-------------------")

#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i>=j):   #>5
      print("* ",end="")
    else:
      print("  ",end="")
  print()

5
        *
      * *
    * * *
  * * * *
* * * * *
-------------------
5
* * * * *
* * * *
* * *
* *
*
-------------------
5
* * * * *
  * * * *
    * * *
      * *
        *
-------------------
5
*
* *
* * *
* * * *
* * * * *

In [ ]:
print("-------------------")
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i+j>=n+1):   #<
      print("* ",end="")
    else:
      print(" ",end="")
  print()

print("-------------------")
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i<=j):   #<
      print("* ",end="")
    else:
      print(" ",end="")
  print()

-------------------
5
    *
   * *
  * * *
 * * * *
* * * * *
-------------------
5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
print("-------------------")
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i+j>n+1):   #>=
      print("* ",end="")
    else:
      print(" ",end="")
  print()
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i<=j):   #<
      print("* ",end="")
    else:
      print(" ",end="")
  print()

-------------------
5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#hgfjerhj
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i<=j):   #<
      print("* ",end="")
    else:
      print(" ",end="")
  print()
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i+j>=n+1):   #>=
      print("* ",end="")
    else:
      print(" ",end="")
  print()

5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if i>=j and j==1 or i==j or i==n:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

#n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if i<=j and i==1 or i==j or j==n:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
*
* *
*   *
*     *
* * * * *
* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i>=j):
            print(j,end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input())
a=1
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i>=j):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
  print()

  #gfegfh
for i in range(1,n+1):
  for j in range(1,n+1):
    if (i>=j):
      print(a,end="  ")
      a+=1
    else:
      print(" ",end=" ")
  print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16
17  18
19  20  21
22  23  24  25
26  27  28  29  30

In [ ]:
n=int(input())
c=ord("A")
for i in range(1,n+1):
    for j in range(1,i+1):

        print(chr(c),end=" ")
        c+=1

    print()

# A
# B  C
# D E F
# G H I J
# K L M N O

5
A
B C
D E F
G H I J
K L M N O

In [ ]:
n=int(input())
c=ord("A")
for i in range(1,n+1):
    for j in range(1,n+1):

        print(chr(c),end=" ")
        c+=1

    print()

# A B C D
# E F G H
# I J K L
# M N O P

5
A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

#Day-04---19/12/24

**break,continue**

In [ ]:
n=int(input())
for i in range(n):
    if i==3:
        print()
        print("excution is stoped at value of 3")
        break
    print(i,end=" ")

10
0 1 2
excution is stoped at value of 3

In [ ]:
n=int(input())
for i in range(n):
    if i==3:
        print()
        print("excution is paussed at value of 3")
        continue
    print(i,end=" ")

10
0 1 2
excution is paussed at value of 3
4 5 6 7 8 9

**List and tuples**

In [ ]:
h=[1,2,3,5,5,8]   #list----Lists is Mutable------can be replaced or changed----allow duplicates
g=(1,2,5,9,9,9)   #tuple----Tuple is Immutable-----tuple cannot be changed or replaced----allow duplicates
c={1,2,2,3,6,3}    #set---mutable (can be modified after creation)--do not allow duplicates
print(h)
print(g)
print(c)

[1, 2, 3, 5, 5, 8]
(1, 2, 5, 9, 9, 9)
{1, 2, 3, 6}

*list*

In [ ]:
a=[1,2,3]
print(a)
print(atype(a))

[1, 2, 3]
<class 'list'>

**01**  
Sita has been promoted as a Team Leader and she has been shifted to Multimedia Team. As she needs to extensively work on audio, image and video signals, she is planning to spend a day in mastering the basics of 1-D and 2-D arrays. Can you please help her out? Write a program to find the maximum element in an array. Input Format: Input consists of n+1 integers. The first line of the input contains an integer corresponds to ‘n’ , the size of the array. The next ‘n’ integers correspond to the elements in the array. Assume that the maximum value of n is 15. Output Format: Refer sample input and output for formatting details.

Input (stdin)

5

2

3

6

8

1   

Output (stdout)

8

Input (stdin)

4
6
3
2
1   
Output (stdout)

6

Input (stdin)

3
4
5
7     
Output (stdout)

7

In [ ]:
#my code
list=[]
n=int(input())
for i in range(n):
  list.append(int(input()))
print(max(list))

3
4
5
7
7

In [ ]:
#sir code
list=[]
n=int(input())
for i in range(1,n+1):
    list.append(int(input()))
max=list[0]
for i in list:
    if i>max:
        max=i
print(max)

4
6
3
2
1
6

**02**   
Write a Python program to find the sum of the elements in an array. Input Format: Input consists of n+1 integers. The first integer corresponds to ‘n’ , the size of the array. The next ‘n’ integers correspond to the elements in the array. Assume that the maximum value of n is 15. Output Format: Refer sample input and output for formatting details.

Input (stdin)

5
2
3
6
8
1

Output (stdout)

20

Input (stdin)

4
3
2
1
5

Output (stdout)

11

In [ ]:
n=int(input())
ls=[]
summ=0
if(n<=15):
    for i in range(n):
        j=int(input())
        ls.append(j)
    max_val=max(ls)
    min_val=min(ls)
    for i in ls:
        if(min_val==i):
            continue
        elif(max_val==i):
            continue
        else:
            summ+=i
    print("sum:",summ)
else:
    print("Maximum input")

4
3
2
1
5
sum: 5

In [ ]:
list=[]
n=int(input())
sum=0
for i in range(1,n+1):
    list.append(int(input()))
    sum+=i
# for i in list:
#     if i>max:
#         max=i
#     if i<min:
#         min=i
#print("max "+str(max))
print("sum "+str(sum))
#print("Min "+str(min))

KeyboardInterrupt: Interrupted by user

In [ ]:
list=[]
n=int(input())
sum=0
for i in range(1,n+1):
    list.append(int(input()))
    sum+=i
max=list[0]
min=list[0]
for i in list:
    if i>max:
        max=i
    if i<min:
        min=i
print("max "+str(max))
print("sum "+str(sum))
print("Min "+str(min))

3
2
1
6
max 6
sum 6
Min 1

In [ ]:
#codewars code
def sum_array(arr):
    if arr == None or len(arr) < 3:
        return 0
    return sum(arr) - max(arr) - min(arr)


#other way
def sum_array(arr):
    return 0 if arr==None or len(arr)<3 else sum(sorted(arr)[1:-1])


#other way
def sum_array(arr):
    if arr is None or len(arr) <= 1:
        return 0
    min_val = min(arr)
    max_val = max(arr)
    total_sum = sum(arr)
    return total_sum - min_val - max_val

**03**    
Write a program to find the number of distinct elements in a sorted array. Input Format: Input consists of n+1 integers. The first integer corresponds to n, the number of elements in the array. The next n integers correspond to the elements in the array. Assume that the maximum value of n is 15. Output Format: Output consists of a single integer which corresponds to the number of distinct elements in the array.

Input (stdin)

5
3
3
3
78
90

Output (stdout)

3

Python has a set of built-in methods that you can use on lists.

Method	Description   
append()	Adds an element at the end of the list    
clear()	Removes all the elements from the list    
copy()	Returns a copy of the list   
count()	Returns the number of elements with the specified value   
extend()	Add the elements of a list (or any iterable), to the end of the current list    
index()	Returns the index of the first element with the specified value    
insert()	Adds an element at the specified position    
pop()	Removes the element at the specified position   
remove()	Removes the item with the specified value   
reverse()	Reverses the order of the list    
sort()	Sorts the list

In [ ]:
# Initializing a list
my_list = [1, 2, 3, 4, 5]

# 1. append() - Adds an element at the end of the list
my_list.append(6)
print("After append:", my_list)

# 2. clear() - Removes all the elements from the list
my_list.clear()
print("After clear:", my_list)

# Reinitializing the list for further operations
my_list = [1, 2, 3, 4, 5]

# 3. copy() - Returns a copy of the list
my_list_copy = my_list.copy()
print("Copied list:", my_list_copy)

# 4. count() - Returns the number of elements with the specified value
count_of_3 = my_list.count(3)
print("Count of 3:", count_of_3)

# 5. extend() - Add the elements of a list (or any iterable), to the end of the current list
my_list.extend([6, 7])
print("After extend:", my_list)

# 6. index() - Returns the index of the first element with the specified value
index_of_4 = my_list.index(4)
print("Index of 4:", index_of_4)

# 7. insert() - Adds an element at the specified position
my_list.insert(2, 10)
print("After insert:", my_list)

# 8. pop() - Removes the element at the specified position
popped_element = my_list.pop(3)
print("After pop, popped element:", popped_element)
print("List after pop:", my_list)

# 9. remove() - Removes the item with the specified value
my_list.remove(10)
print("After remove:", my_list)

# 10. reverse() - Reverses the order of the list
my_list.reverse()
print("After reverse:", my_list)

# 11. sort() - Sorts the list
my_list.sort()
print("After sort:", my_list)

After append: [1, 2, 3, 4, 5, 6]
After clear: []
Copied list: [1, 2, 3, 4, 5]
Count of 3: 1
After extend: [1, 2, 3, 4, 5, 6, 7]
Index of 4: 3
After insert: [1, 2, 10, 3, 4, 5, 6, 7]
After pop, popped element: 3
List after pop: [1, 2, 10, 4, 5, 6, 7]
After remove: [1, 2, 4, 5, 6, 7]
After reverse: [7, 6, 5, 4, 2, 1]
After sort: [1, 2, 4, 5, 6, 7]

In [ ]:
# list.append("one")
# # list.clear()
# l2=list.copy()
# print(l2.count(2))
# print(l2)
list=[1,2,2,3] # 0 1 2 3 n//2 + (n//2)-1
list2=[6,7,8]# 0 1 2 n//2
list2.extend(list)
list.reverse()
print(list)

print(list2)

[3, 2, 2, 1]
[6, 7, 8, 1, 2, 2, 3]

**04**   
Write a Python program to reverse a tuple

Input (stdin)

python

Output (stdout)

('n', 'o', 'h', 't', 'y', 'p')

In [ ]:
a=input()
print(tuple(reversed(a)))

nikhil
('l', 'i', 'h', 'k', 'i', 'n')

In [ ]:
# Input tuple
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# Reversing the tuple
reversed_tuple = input_tuple[::-1]

# Output the reversed tuple
print(reversed_tuple)

('n', 'o', 'h', 't', 'y', 'p')

In [ ]:
a=("one","two","three")
b=(1,2,3)
print(a+b)

print("--------------")
#dhgfrefgj
a=("one","two","three")
for i in a:
    print(i)

print("----------------------")
#gfecdgaj
b=("one","two","three")
t=list(b)
t[1]="five"
print(t)

('one', 'two', 'three', 1, 2, 3)
--------------
one
two
three
----------------------

TypeError: 'list' object is not callable

In [ ]:
a=("one","two","three")
b=(1,2,3)
print(a+b)

('one', 'two', 'three', 1, 2, 3)

**05**

Write a Python program to unzip a list of tuples into individual lists.

Input (stdin)

[(1,2), (3,4), (8,9)]

Output (stdout)

[(1, 3, 8), (2, 4, 9)]

In [ ]:
n=int(input())
a=[]  # [(1, 3, 8), (2, 4, 9)]
for i in range(n):
    tup=tuple(map(int,input().split()))
    a.append(tup)
print(list(zip(*a)))

In [ ]:
a=[(1,2),(3,4),(8,9)]
print(list(zip(*a))

SyntaxError: incomplete input (<ipython-input-23-1290dc548c40>, line 2)

packing and *unoacking*

In [ ]:
a=10
b=20
c=30
t=a,b,c  #packing
print(t)
a,b,c=t  #unpacking
print(a,b,c)

(10, 20, 30)
10 20 30

In [ ]:
set={"one","two","three"}
print(set)
print(atype(set))

print("--------------")


#fggfjw
set={"one","two","three"}
for i in set:
    print(i)

print("---------------")

#fggfjw
set={"one","two","three"}
for i in sorted(set):
    print(i)

print(set)

{'two', 'one', 'three'}
<class 'set'>
--------------
two
one
three
---------------
one
three
two
{'two', 'one', 'three'}

In [ ]:
#fggfjw
set={"one","two","three"}
set.add("four")
print(set)

set.remove("two")
print(set)

set.discard("three")
print(set)

set.pop()
print(set)

set.clear()
print(set)

{'two', 'one', 'four', 'three'}
{'one', 'four', 'three'}
{'one', 'four'}
{'four'}
set()

In [ ]:
#fggfjw
set={"one","two","three"}
set2={1,2,3}
print(set.union(set2))


print("-------------------")

#gwavfrhreshgr
set={"one","two","three",1}
set2={1,2,3,"two"}
print(set.intersection(set2))

print("-------------------")

#gwavfrhreshgr
set={"one","two","three"}
set2={1,2,3}
print(set.update(set2))
print(set)

print("-------------------")

#gwavfrh
set={"one","two","three",1}
set2={1,2,3,"two"}
print(set.difference(set2))

print("-------------------")

{1, 2, 'three', 3, 'two', 'one'}
-------------------
{'two', 1}
-------------------
None
{1, 2, 'three', 3, 'two', 'one'}
-------------------
{'one', 'three'}
-------------------

Python has a set of built-in methods that you can use on dictionaries.

Method	Description   
clear()	Removes all the elements from the dictionary  
copy()	Returns a copy of the dictionary   
fromkeys()	Returns a dictionary with the specified keys and value   
get()	Returns the value of the specified key   
items()	Returns a list containing a tuple for each key value pair   
keys()	Returns a list containing the dictionary's keys   
pop()	Removes the element with the specified key   
popitem()	Removes the last inserted key-value pair   
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value   
update()	Updates the dictionary with the specified key-value pairs   
values()	Returns a list of all the values in the dictionary

In [ ]:
dict={"roll":11,"name":"nikhil","year":3}
print(dict)
print("--------")
print(atype(dict))
print("--------")
print(dict["roll"])
print("--------")

dict.update({"roll":101})
print(dict)
print("--------")
dict.pop("year")
print(dict)
print("--------")
print(dict.keys())
print(dict.values())
print(dict.items())
print("--------")
dict.clear()
print(dict)
print("--------")

{'roll': 11, 'name': 'nikhil', 'year': 3}
--------
<class 'dict'>
--------
11
--------
{'roll': 101, 'name': 'nikhil', 'year': 3}
--------
{'roll': 101, 'name': 'nikhil'}
--------
dict_keys(['roll', 'name'])
dict_values([101, 'nikhil'])
dict_items([('roll', 101), ('name', 'nikhil')])
--------
{}
--------

**06**    
The program takes a dictionary and checks if a given key exists in a dictionary or not. Problem Solution 1. Declare and initialize a dictionary to have some key-value pairs.{'A':1,'B':2,'C':3} 2. Take a key from the user and store it in a variable. 3. Using an if statement and the in operator, check if the key is present in the dictionary using the dictionary.keys() method. 4. If it is present, print the value of the key. 5. If it isn’t present, display that the key isn’t present in the dictionary. 6. Exit.

Input (stdin)

A

Output (stdout)

1

Input (stdin)

D  
Output (stdout)

Key isn't present

In [ ]:
dict={"A":1,"B":2,"C":3}
key=input()
if key in dict.keys():
    print(dict[key])
else:
    print("Key isn't present")

A
1

#day-05 ------20/12/24

*strings*

In [ ]:
s="hello"
b='python'
c='''is'''
d="""not a vef"""
print(type(s))
print(type(b))
print(type(c))
print(type(d))
print(s+" "+b)#cancatination
print(s*3) #repetation
print(s[0])
print(len(s))
print(len(s[0]))

print("-----------------------")
#hjfgrhefbe
#slicing
s="hello world"
print(len(s))
print(s[::])
print(s[:7:])
print(s[0:10:3])#  (start:end:step)
print(s[::-1]) #revers
print("---------------------------")
#sprit  ---it will remove spaces both sides
t=" hello world "
print(t)
print(len(s))
print(t.lstrip())
print(t.rstrip())
print(t.split())

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
hello python
hellohellohello
h
5
1
-----------------------
11
hello world
hello w
hlwl
dlrow olleh
---------------------------
 hello world
11
hello world
 hello world
['hello', 'world']

In [ ]:
from posixpath import split
s="hello world "
b='python'
print(s.find(" ")) #5
print(s.find("hello"))#
print(s.index("w")) #6
print("----")
w=s.split()
for i in w:
    print(len(i))

5
0
6
----
5
5

In [ ]:
s="ohellooo word"

b="python"

print(s.find(" ")) #8

print(s.index("w")) #9

print("----")

w=s.split()

for i in range(len(s)):

    if s[i]=='o':

       print(i)

8
9
----
0
5
6
7
10

In [ ]:
# strings:

# it is a sequence of collection of characters which are enclosed with in double quotes

# but in python we can represent the strings in single quotes ,double quotes and as well as triple quotes


s="hello world"
print(type(s))

s1='hello python'
print(type(s))

s2 = '''hello Strings'''
print(type(s))

s3="""Hello double strings"""
print(type(s))

s4 = input()
print(type(s4))


#string concatination
s="hello "
s1="World"
s2=s+s1
print(s2)

#string repetition
s="universal "
print(s*5)


s="hello wolrd"

#we can access charecters of string by using index positions

# indeX starts with 0  and ends with size -1 negative index starts with -1
print(s)
print(s[0])
print(s[len(s)-1])
print(s[-1])


#slicing

# [start:stop:step]

s="hello wolrd"

print(s[3::])   #lo world

print(s[:7:])   #hello w

print(s[::3])   #hlwr


print(s[1:4:])   #ell

print(s[:8:2])  #hlow

print(s[1::3])  #eood

print(s[0:10:2])    #hl0wl


#reverse the string by using slice operator
s="hello wolrd"
print(s[::-1])


#how to remove spacews in the string

s="   hello wolrd   "

# rstrip() ->it will removes spcaes at right hand side
# lstrip() ->it will removes apces at left hand side
# strip() ->it will removes spaces both sides

print(s.rstrip())
print(s.lstrip())
print(s.strip())

#finding substrings

# to find substrings we can follow 4 methods

# for forward direction

# ->find()
# ->index()

# for backward direction

# ->rfind()
# ->rindex()

#find()
# it returns index of first occurence of the given substring.if it is not available
# then will get -1
s="Hello world"
print(s.find("Hello"))

print(s.find("hi"))

# index() ->will returns index values if the specified charecter is not available in the string
# it will raise a value error

print(s.index("w")) #6

# print(s.index("n")) #valueError


#count() - count method will returns count of a character in a string


s="aaasdb sdfkajsndskdjfhrkf rgsf"
print(s.count('a'))	#4
print(s.count('s'))	#5
print(s.count('z'))	#0

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
nikhil
<class 'str'>
hello World
universal universal universal universal universal
hello wolrd
h
d
d
lo wolrd
hello w
hlwr
ell
hlow
eood
hlowl
drlow olleh
   hello wolrd
hello wolrd
hello wolrd
0
-1
6
4
5
0

In [ ]:
#By using split method we can split the string and will convert it as a list

s="india russia america canada"
l=s.split()
print(l)
print(type(l))

# Output:
# ['india', 'russia', 'america', 'canada']
# <class 'list'>

#we can convert a list into string by using join method

l=['india', 'russia', 'america', 'canada']
s=" ".join(l)
print(s)
print(type(s))

# india russia america canada
# <class 'str'>

# replace() method -> by using replace method we can change the string value

# Syntax: variable_name.replace(old sub string, new sub string)

s="india russia america canada"
print(s)
s1=s.replace("russia","Africa")
print(s1)

['india', 'russia', 'america', 'canada']
<class 'list'>
india russia america canada
<class 'str'>
india russia america canada
india Africa america canada

In [ ]:
text = "  Hello, World!  "
print(len(text))  # Output: 16
print(text.lower())  # Output: "  hello, world!  "
print(text.upper())  # Output: "  HELLO, WORLD!  "
print(text.replace("World", "Python"))#Hello, Python!
print(text.isalpha())  # Output: False
print(text.isdigit())  # Output: False
print(text.isalnum())  # Output: False
print(text.islower())  # Output: False
print(text.isupper())
print(text.startswith("  Hello"))  # Output: True
print(text.endswith("World!  "))#true
print(text.lstrip())#remove left space
print(text.rstrip())#remove right space
print(text.strip())  # Output: "Hello, World!"
print(text.split(","))  # Output: ['  Hello', ' World!  ']
print("-".join(['a', 'b', 'c']))  # Ou{I(tput: "a-b-c"
print(text.find("W"))  # Output: 8

17
  hello, world!
  HELLO, WORLD!
  Hello, Python!
False
False
False
False
False
True
True
Hello, World!
  Hello, World!
Hello, World!
['  Hello', ' World!  ']
a-b-c
9

In [ ]:
s="Hello world "
print(s.upper())
print(s.lower())
print(s.replace("world","WORLD"))
# isalpha
# islower
# isupper
# isdigit
print(s.startswith("hel"))
# endswith
# lstrip
# rstrip
# strip
# split(" ")
print("-".join(["a","b","c"]))
# find("w")  first index of w
# rfind("w")  last  index of w
# index()
# rindex()
# len()
b="sr University"
# print(b.istitle())
#isspace
# print(b.isspace())
print(b.swapcase())
print(b.capitalize())

HELLO WORLD
hello world
Hello WORLD
False
a-b-c
SR uNIVERSITY
Sr university

**01**    
There is an interview process going on in a company. In that recruitment 200 people came for an interview. For HR it is very difficult to take an interview for those 200 peoples. So help the HR to disqualify the person who is sufficient for the proper work( remove the nth index character from a non-empty string..) Problem Description The program takes a string and removes the nth index character from the non-empty string. Program Explanation 1. User must enter a string and store it in a variable. 2. User must also enter the index of the character to remove. 3. The string and the index of the character to remove are passed as arguments to the remove function. 4. In the function, the string is split into two halves before the index character and after the index character. 5. The first half and the last half is then merged together using the ‘+’ operator. 6. The modified string is printed.


Input (stdin)

Hello
3

Output (stdout)

Helo

Input (stdin)

welcome
2

Output (stdout)

wecome

In [ ]:
n=input()
m=int(input())
print(n[:m]+n[m+1:])

welcome
2
wecome

**02**     
Students in a class going to write an exam. In a bench there are 5 members were sitting. Staff wants the students to sit three in bench. So he/she told that odd number people who is sitting in the bench should move out and sit in another bench. Help the staff to find out the odd people out. Problem Description The program takes a string and removes the characters of odd index values in the string. Problem Solution 1. Take a string from the user and store it in a variable. 2. Pass the string as an argument to a function. 3. In the function, initialize a variable to an empty character. 4. Use a for loop to traverse through the string. 5. Use an if statement to check if the index of the string is odd or even. 6. If the index is odd, append the no character to the string. 7. Then print the modified string. 8. Exit.


Input (stdin)

hello

Output (stdout)

hlo

Input (stdin)

welcome

Output (stdout)

wloe

In [ ]:
n=input()
for i in range(len(n)):
    if i%2==0:
        print(n[i],end="")

welcome
wloe

In [ ]:
print(input()[::2])

hello
hlo

**03**   
Write a Python Program to take in two strings and display the larger string without using built-in functions. Problem Description The program takes in two strings and display the larger string without using built-in function. Problem Solution 1. Take in two strings from the user and store it in separate variables. 2. Initialize the two count variables to zero. 3. Use a for loop to traverse through the characters in the string and increment the count variables each time a character is encountered. 4. Compare the count variables of both the strings. 5. Print the larger string. 6. Exit.


Input (stdin)

Delhi   
Bangalore

Output (stdout)

Bangalore

In [ ]:
n=input()
m=input()
if len(n)>len(m):    #using build in functions
    print(n)
else:
    print(m)

print("-----------")
#another way
a=input()
b=input()
c1=0
c2=0
for i in a:
    c1=c1+1
for i in b:
    c2=c2+1
if c1>c2:
    print(a)
else:
    print(b)

nikhil
ram
nikhil
-----------
tweryetwuuei
dchgrf
tweryetwuuei

In [ ]:
#using  def functions
a=input()
b=input()
def fun(a,b):
  if len(a)>len(b):
    print(a)
  else:
    print(b)
fun(a,b)

nikhil
ram
nikhil

In [ ]:


#in other way
a=input()
b=input()
def print1(a,b):
    c1,c2=0,0
    for i in a:
        c1=c1+1
    for i in b:
        c2=c2+1
    if c1>c2:
        return a
    else:
        return b
r=print1(a,b)
print(r)

nikhil
sai
nikhil

**04**     
write a Python Program to form a new string made of the first 2 characters and last 2 characters from a given string. Problem Description The program takes a string and forms a new string made of the first 2 characters and last 2 characters from a given string. Problem Solution 1. Take a string from the user and store it in a variable. 2. Initialize a count variable to 0. 3. Use a for loop to traverse through the characters in the string and increment the count variable each time. 4. Form the new string using string slicing. 5. Print the newly formed string. 6. Exit.


Input (stdin)

Hello World

Output (stdout)

Held

In [ ]:
#codes without using functions
str=input()
c1=0
for i in str:
    c1=c1+1
print(str[0:2]+str[c1-2:c1])
print("---------------")

#other way
n=input()
print(n[:2]+n[-2:])

print("---------------")
#other way
s=input()
e,g=s[:2],s[-2:]
print(e+g)

gfgre
gfre
---------------
rbrhfb
rbfb
---------------
rferfrfuhu
rfhu

In [ ]:
#code using functions
s=input()
def fun(s):
    print(s[:2]+s[-2:])
fun(s)
print("---------------")



#other way
s=input()
def fun(s):
  if len(s)>=2:
    return s[:2]+s[-2:]
  else:
    return ""
result = fun(s)
print(result)

nikhil
niil
---------------
nikhil
niil

square

In [ ]:
def square(n):
  return n*n
n=int(input())
result=square(n)
print(result)

5
25

#day-06 ---------21/12/24

**01**   
Write a program that merges two sorted lists into a single sorted list. Do not use built-in sorting functions.
For example, [1, 3, 5], [2, 4, 6] should print [1, 2, 3, 4, 5, 6].

Input Format:
Input format consists of 2 lines,
First line consists of list1 elements separated by space
Second line consists of list2 elements separated by space

Output Format:
Print the merged sorted list

Sample Input:   
1 3 5     
2 4 6

Sample Output:     
1 2 3 4 5 6

In [ ]:
list1=list(map(int,input().split(" ")))  #1 3 5
list2=list(map(int,input().split()))  #2 4 6
list=[]  #1 3 5  #for second loop 2 4 6
for i in list1:
    list.append(i)
for i in list2:
    list.append(i)
list.sort()  #it will be sorted
print("printing in list format :",list)
for i in list:
    print(i,end=" ")     #1 2 3 4 5 6

#-------------------------plz u should run in VScode


#inother way
list1 = list(map(int,input().split()))
list2 = list(map(int,input().split()))
listt = list1 + list2
listt.sort()
print(*listt)

**02**   
Write a program that takes a list containing n unique integers from 0 to n (inclusive) with one number missing and returns the missing number.

Input Format:
Input consists of list elements separated by space

Output Format:
Print the missing number, if all numbers are available print the n+1th number

Sample Input:   
0 2 3 4 5

Sample Output:  
1

In [ ]:
#run in VScode
lst = list(map(int,input().split(' ')))
count,flag = 0,0
for i in lst:
    if(count!=i):          #---------question 02
        break              #0 2 3 4
    count+=1                #o/p--1
print(count)

**03**   
Write a program that returns a list of all duplicate numbers in the input list. Each duplicate should appear only once in the result.
For example, [4, 3, 2, 7, 8, 2, 3, 1] should return [2, 3].

Input Format:
Input consists of list elements separated by space

Output Format:
Print the duplicate list or "No duplicate"

Sample Input:   
1 2 3 4 5 2 3 6

Sample Output:    
2 3

In [ ]:
#run in vscose
#question----------03 ------------duplicate values
list1=list(map(int,input().split(" ")))   #1 2 3 5 8 9 6 6 1 6
dup=[]
for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if(list1[i] not in dup and list1[i]==list1[j]):
            dup.append(list1[i])
if(len(dup)>0):
    for i in dup:
        print(i,end=" ")    #o/p-----1 6
else:
    print("No duplicate")

**04**   
Write a program that takes a list of integers and returns a dictionary where the keys are the unique elements of the list, and the values are the frequency of each element.
For example, [1, 2, 2, 3, 3, 3] should return {1: 1, 2: 2, 3: 3}.

Input Format:
Input consists of list elements separated by space

Output Format:
Print the frequency of each element

Sample Input:    
1 2 2 3 3 3

Sample Output:    
1 : 1    
2 : 2   
3 : 3

In [ ]:
#run in vscode
#question------------04----how many times it is repeating
list1=list(input().split(" "))  #1 2 2 3 3 3 3
d={}
for i in list1:
    if(i not in d.keys()):
        count=0
        for j in list1:
            if(i==j):
                count+=1
        d[i]=count
for i,j in d.items():
    print(i,":",j)              #o/p---1:1 2:2 3:4

**05**    
Write a program that takes two dictionaries and returns a merged dictionary. If a key is present in both dictionaries, the value from the second dictionary should overwrite the value from the first.
For example, {'a': 1, 'b': 2}, {'b': 3, 'c': 4} should return {'a': 1, 'b': 3, 'c': 4}.

Input Format:
Input format consists of 2 lines,
First line consists of n number of elements in dict
Next n line consists of 2 elements separated by space (key & value) for dict 1
Next n line consists of 2 elements separated by space (key & value) for dict 2

Output Format:
Print the merged dict

Sample Input:   
2  
a 1   
b 2    
b 3  
c 4    


Sample Output:    
a 1    
b 3   
c 4

In [ ]:
n = int(input())    #2
d = {}
for i in range(n):
    a,b = input().split()    #a 1   b 2
    d[a] = b
for i in range(n):
    a,b = input().split()   #b 3 c 4
    d[a] = b
for i,j in d.items():
    print(i,j)      #o/p----a 1   b 3   c 4

2
a 1
b 2
b 3
c 4
a 1
b 3
c 4

**06**   
Write a python program takes a number and finds the binary equivalent of a number recursively.

Input (stdin)

5

Output (stdout)

1 0 1

Input (stdin)

7   
Output (stdout)

1 1 1

In [ ]:
n=int(input())
def binary(n):
    if n<0:
        print(0)
        return
    if n>1:
        binary(n//2)
    print(n%2,end="")

binary(n)

7
111

In [ ]:
n=int(input())
def fun(n):
    if n>1:
        fun(n//2)
    print(n%2,end=" ")
fun(n)

5
1 0 1

In [ ]:
n=int(input())
print(bin(n)[2:])

5
101

**07**  
Write a Python Program to find the fibonacci series using recursion.

Input (stdin)

5  
Output (stdout)   

0  
1  
1  
2  
3   

Input (stdin)

6  
Output (stdout)      

0  
1  
1  
2  
3  
5

In [ ]:
n=int(input())
def fib(n):
    if n<=1:
        return n
    else:
        return(fib(n-1)+fib(n-2))
if n<=0:
    print("It is -ve input")
else:
    for i in range(n):
        print(fib(i))

print("------------")
# in other way
n=int(input())
def fib(n):
   return n if n<=1 else fib(n-1)+fib(n-2)
if n<=0:
    print("Invalid")
else:
    print(*[fib(i) for i in range(n)])

print("------------")
# in other way
n=int(input())
def fib(n): return n if n<=1 else fib(n-1)+fib(n-2)
print(*[fib(i) for i in range(n)]  if n>0 else "Invalid")

5
0
1
1
2
3
------------
6
0 1 1 2 3 5
------------
10
0 1 1 2 3 5 8 13 21 34

**08**   
Write a python program takes a number and finds the sum of the digits of the number recursively.

Input (stdin)

135

Output (stdout)

9

Input (stdin)  

5678  
Output (stdout)  

26

In [ ]:
n=input()
sum=0
for i in n:
    sum=sum+int(i)
print(sum)

print("------------")
#----------------------
n=input()
def sum(n):
    if len(n)==0:
        return 0
    else:
        return int(n[0])+sum(n[1:])
print(sum(n))

123
6
5678
26

In [ ]:
n=int(input())
print(abs(n))

-20
20

In [ ]:
n=int(input())
def digitsum(n):
    n=abs(n)
    if n==0:
        return 0
    else:
        return (n%10+digitsum(n//10))
result=digitsum(n)
print(result)

-253
10

**09**  
Write a Python Program to reverse a string using recursion.

Input (stdin)

hello world

Output (stdout)

dlrow olleh

---------------
Input (stdin)

Hello programmer   
Output (stdout)

remmargorp olleH

In [ ]:
def reverse_string(s):
    if len(s) == 0:
        return s
    return reverse_string(s[1:]) + s[0]
input_string = input()
print(reverse_string(input_string))

hello world
dlrow olleh

In [ ]:
try:
    n=int(input())
    result=10/n
    print(f"Result: {result}")
except ZeroDivisionError:
    print("Zero division error")
except ValueError:
    print("Invalid Input")
finally:
    print("This message always prints")

0
Zero division error
This message always prints

#Day07---23/12/24

**OOPS**

In [ ]:
a=99
class sru:
  a=10
  def display(self):
    b=15
    print(b)
obj=sru()
obj.display()
print(obj.a)
print(a)

15
10
99

In [ ]:
class Mobile:
    def __init__(self,brand,ram,camera,battery):
        self.brand=brand
        self.ram=ram
        self.camera=camera
        self.battery=battery
    def display(self):
        print("Brand: ",self.brand)
        print("Ram :",self.ram)
        print("Camera :",self.camera)
        print("Battery :",self.battery)
obj=Mobile("Apple","8gb","48mp","98%")
obj.display()


print("----------------")
class Mobile:
    def __init__(self,brand,ram,camera,battery):
        self.brand=brand
        self.ram=ram
        self.camera=camera
        self.battery=battery
        print("Brand: ",self.brand)
        print("Ram :",self.ram)
        print("Camera :",self.camera)
        print("Battery :",self.battery)
obj=Mobile("Apple","8gb","48mp","98%")

print("-------------")
class Mobile:
    def  __init__(self,brand,ram,camera,battery):
        self.brand=brand
        self.ram=ram
        self.camera=camera
        self.battery=battery
    def display(self):
        print("Brand :",self.brand)
        print("RAM : ",self.ram)
        print("Camera : ",self.camera)
        print("Battery : ",self.battery)
brand=input("Enter the Brand : ")
ram=input("Enter the RAM : ")
camera=input("Enter the Camera : ")
battery=input("Enter the Battery : ")
obj=Mobile(brand,ram,camera,battery)
obj.display()

Brand:  Apple
Ram : 8gb
Camera : 48mp
Battery : 98%
----------------
Brand:  Apple
Ram : 8gb
Camera : 48mp
Battery : 98%
-------------
Enter the Brand : xyz
Enter the RAM : 2
Enter the Camera : 45
Enter the Battery : 5000
Brand : xyz
RAM :  2
Camera :  45
Battery :  5000

In [ ]:
class Mobile:
    def __init__(self):
        print("Init Method")
    def display(self):
        print("Normal Method")
obj=Mobile()
obj.display()

Init Method
Normal Method

*inheritance*

In [ ]:
#-------single inheritance---
class parent:
    def display(Self):
        print("from Parent Class")
class child(parent):
    def display1(Self):
        print("from Child Class")
#obj=parent()
obj=child()
obj.display1()  #from child class
obj.display()   #form parent class

from Child Class
from Parent Class

In [ ]:
#------------multilevel ----------------
class parent:
    def display(Self):
        print("from Parent Class")
class childA(parent):
    def display1(Self):
        print("from ChildA Class")
class childB(childA):
    def display2(Self):
        print("from ChildB Class")
#obj=parent()
obj=childB()
obj.display1()
obj.display()
obj.display2()

from ChildA Class
from Parent Class
from ChildB Class

**01**   
A car manufacturing company has multiple levels of hierarchy in its class structure. The base class is Vehicle, which defines the general attributes of a vehicle. The second level is Car, which inherits from Vehicle and adds car-specific features. Finally, the third level is SportsCar, which inherits from Car and includes high-performance features.

Your task is to implement a Python program using multilevel inheritance to simulate this hierarchy. Write classes for Vehicle, Car, and SportsCar with relevant attributes and methods.

Input and Output Format:
Input:
A string representing the brand of the vehicle.
An integer max_speed for the maximum speed of the vehicle.
A string representing the type of the car (e.g., sedan, hatchback).
A boolean indicating whether it is a high-performance car (e.g., True or False).
Output:
Display the details of the SportsCar using methods from all three classes in the hierarchy.

Test Case 1:

Input:    
Tesla   
250   
Electric    
True

Output:   
Vehicle Info:   
Brand: Tesla, Max Speed: 250 km/h
Car Info:   
Type: Electric   
Sports Car Info:   
High-Performance: Yes    


--------------------------
Test Case 2:

Input:   
Toyota    
180    
Sedan    
False    

Output:    
Vehicle Info:    
Brand: Toyota, Max Speed: 180 km/h    
Car Info:     
Type: Sedan     
Sports Car Info:     
High-Performance: No

In [ ]:
class Vehicle:
    def __init__(self,brand,speed,type,per):
        self.brand=brand
        self.speed=speed
        self.type=type
        self.per=per
    def display(self,brand,speed):
        print("Vehicle Info:")
        print(f"Brand : {self.brand} Max Speed : {self.speed} kmph")


class carinfo(Vehicle):
    def print(self,type):
        print("Car Info:")
        print("Type : ",self.type)

class sports(carinfo):
    def show(self,per):
        print("Sports Car Info:")
        if per=="True" or per=="true":
            print("High Performance : Yes")
        elif per=="False" or per=="false":
            print("High Performance : No")
        else:
            print("Invalid Input")
brand=input()
speed=int(input())
type=input()
per=bool(input())
obj=sports(brand,speed,type,per)
obj.display(brand,speed)
obj.print(type)
obj.show(per)

fghj
152
ghjk
true
Vehicle Info:
Brand : fghj Max Speed : 152 kmph
Car Info:
Type :  ghjk
Sports Car Info:
Invalid Input

In [ ]:
class vehicle:
    def  __init__(self,brand,speed,type,per):
        self.brand=brand
        self.speed=speed
        self.type=type
        self.per=per
    def display(self):
        print("vehicle Info: ")
        print(f"Brand :{self.brand} max speed:{self.speed} kmph")
        print("Car Info:")
        print("Type : ",self.type)
        perf="Yes" if self.per else "No"
        print(f"Sports Car Info:\nHigh-Performance: {per}")
brand=input()
speed=input()
type=input()
per=bool(input())
obj=vehicle(brand,speed,type,per)
obj.display()

hjk
15
kl
false
vehicle Info:
Brand :hjk max speed:15 kmph
Car Info:
Type :  kl
Sports Car Info:
Sports Car Info:
High-Performance: True

In [ ]:
#sir code
class Vehicle:
    def __init__(self,brand,speed):
        self.brand=brand
        self.speed=speed

    def display_vehicle(self):
        print("Vehicle Info:")
        print(f"Brand : {self.brand} Max Speed : {self.speed} kmph")


class carinfo(Vehicle):
    def __init__(self,brand,speed,car_type):
        super().__init__(brand,speed)
        self.car_type=car_type

    def display_car(self):
        print(f"Car Info : \nType :{self.car_type}")

class sports(carinfo):
    def __init__(self,brand,speed,car_type,perf):
        super().__init__(brand,speed,car_type)
        self.perf=perf

    def display_perf(self):
        perf="Yes" if self.perf else "No"
        print(f"Sports Car Info:\nHigh-Performance: {perf}")

brand=input()
speed=int(input())
type=input()
per=input().lower()=="true"
obj=sports(brand,speed,type,per)

obj.display_vehicle()
obj.display_car()
obj.display_perf()

**02**   
A cricket organization maintains a hierarchy for different types of players. The base class is Player, which defines the general details of a cricket player. The second level is Batsman, which inherits from Player and adds attributes specific to a batsman. Finally, the third level is Captain, which inherits from Batsman and includes captain-specific responsibilities.

Your task is to implement a Python program using multilevel inheritance to simulate this hierarchy. Write classes for Player, Batsman, and Captain with relevant attributes and methods.

Input and Output Format     
Input:

A string representing the name of the player.
An integer representing the player's age.
An integer representing the total runs scored by the batsman.
A float representing the batsman's average.
A boolean indicating if the player is a captain (True/False).
Output: Display the details of the captain using methods from all three classes in the hierarchy.

Test Case 1

Input:     
Virat Kohli     
34   
12000    
57.68   
True    

Output:    
Player Info:    
Name: Virat Kohli, Age: 34   
Batsman Info:    
Total Runs: 12000, Average: 57.68    
Captain Info:   
Is Captain: Yes   

 ----------------------------
Test Case 2    

Input:    
Rohit Sharma   
36    
9800   
48.15   
False    

Output:    
Player Info:                
Name: Rohit Sharma, Age: 36       
Batsman Info:                      
Total Runs: 9800, Average: 48.15            
Captain Info:        
Is Captain: No

In [ ]:
class player:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def display_player(self):
        print("player Info:")
        print(f"name : {self.name}, age: {self.age}")


class Batsman(player):
    def __init__(self,name,age,runs,avg):
        super().__init__(name,age)
        self.runs=runs
        self.avg=avg

    def display_car(self):
        print(f"Batsman Info:\nTotal Runs : {self.runs},Average: {self.avg}")

class Captain(Batsman):
    def __init__(self,name,age,runs,avg,c_info):
        super().__init__(name,age,runs,avg)
        self.c_info=c_info

    def cap_details(self):
        c_info="Yes" if self.c_info else "No"
        print(f"Captain Info:\nIs Captain : {c_info}")

name=input()
age=int(input())
runs=int(input())
avg=float(input())
c_info=input().lower()=="true"
obj=Captain(name,age,runs,avg,c_info)
obj.display_player()
obj.display_car()
obj.cap_details()

fgh
25
8956
0.52
true
player Info:
name : fgh, age: 25
Batsman Info:
Total Runs : 8956,Average: 0.52
Captain Info:
Is Captain : Yes

In [ ]:
#--------multiple inheritance----------------
class Vehicle:
  def __init__(self, brand, speed):
    self.brand = brand
    self.speed = speed

  def display_vehicle(self):
    print("Vehicle Info:")
    print(f"Brand: {self.brand}, Max Speed: {self.speed} kmph")

class CarInfo(Vehicle):
  def __init__(self, brand, speed, car_type):
    super().__init__(brand, speed)
    self.car_type = car_type

  def display_car(self):
    print("Car Info:")
    print(f"Type: {self.car_type}")


class Sports(Vehicle):
  def __init__(self, brand, speed, perf):
    super().__init__(brand, speed)
    self.perf = perf

  def display_perf(self):
    perf_status = "Yes" if self.perf else "No"
    print("Sports Car Info:")
    print(f"High-Performance: {perf_status}")


brand = input()
speed = int(input())
car_type = input()
perf = input().lower() == "true"

car_obj = CarInfo(brand, speed, car_type)
sports_obj = Sports(brand, speed, perf)

car_obj.display_vehicle()
car_obj.display_car()

sports_obj.display_vehicle()
sports_obj.display_perf()

frfhgrf
55
fhrfr
true
Vehicle Info:
Brand: frfhgrf, Max Speed: 55 kmph
Car Info:
Type: fhrfr
Vehicle Info:
Brand: frfhgrf, Max Speed: 55 kmph
Sports Car Info:
High-Performance: Yes

#Day-08   -----24/12/24

In [ ]:
def p(n):
    for i in range(1, n + 1):
        print("*" * i + "  " * (n - i) + "*" * i)  # Upper half
    for i in range(n, 0, -1):
        print("*" * i + "  " * (n - i) + "*" * i)  # Lower half

n = int(input())
p(n)

5
*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=int(input())
def pyrami(n):
  for i in range(1,n+1):
    left=" ".join(map(str,range(1,i+1)))
    right=" ".join(map(str,range(i-1,0,-1)))
    space=" "*(2*(n-i))
    print(space+left+" "+right)


  for i in range(n-1,0,-1):
    left=" ".join(map(str,range(1,i+1)))
    right=" ".join(map(str,range(i-1,0,-1)))
    space=" "*(2*(n-i))
    print(space+left+" "+right)
pyrami(n)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
  1 2 3 4 3 2 1
    1 2 3 2 1
      1 2 1
        1

In [ ]:
n=int(input())
def butterfly(n):
  for i in range(1,n+1): #upper
    right="* "*i
    left="* "*i
    space="  "*(n-i)*2  #give "_ _"
    print(right+space+left)

  for i in range(n,0,-1): #lower
    right="* "*i
    left="* "*i
    space="  "*(n-i)*23
    print(right+space+left)
butterfly(n)

4
*             *
* *         * *
* * *     * * *
* * * * * * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [ ]:
class addtion:
  def add(self,a,b):
    return a+b
  def add(self,a,b,c):
    return a+b+c
  def add(self,a,b,c=0,d=0):
    return a+b+c+d
obj=addtion()
print(obj.add(1,2))
s=obj.add(10,20,30)
print(obj.add(100,200,300,400))
print(s)

3
1000
60

In [ ]:
class husband:
    def house(self):
        print("Husband House")
    def land(self):
        print("Husband land")
    def money(self):
        print("Husband money")
class wife:
    def house(self):
        print("wife House")
    def land(self):
        print("wife land")
    def money(self):
        print("wife money")

obj=wife()
obj.house()
obj.money()

wife House
wife money

In [ ]:
class husband:
    def house(self):
        print("Husband House")
    def land(self):
        print("Husband land")
    def money(self):
        print("Husband money")
class wife(husband):
    def house(self):
        super().house()
        print("wife House")
    def land(self):
        super().land()
        print("wife land")
    def money(self):
        super().money()
        print("wife money")

obj=wife()
obj.house()
obj.money()

Husband House
wife House
Husband money
wife money

**01**   
A zoo management system is designed to manage various animals. The system needs to display details about different animals, and each type of animal can have a unique way of making a sound. The system should implement polymorphism to allow different types of animals to make their own sounds.

You need to create a base class Animal and two derived classes Dog and Cat. Both the Dog and Cat classes will override the make_sound() method to provide their own implementation. The Animal class will contain a method display_info() which will print the general information about the animal, such as its name and type. The Dog and Cat classes will provide their own version of make_sound() which will print the sound made by the respective animal.

Input and Output Format:

Input:

The input consists of an animal name and type.
After that, the program will display the animal's sound.   
Output:

Print the name, type, and sound made by the animal.    
Example Input and Output:

Test Case 1:   

Input:   
Dog   
Buddy   

Output:   
Animal Info:    
Type: Dog    
Name: Buddy   
Sound: Bark   

-------------------------------------
Test Case 2:   

Input:   
Cat     
Whiskers      

Output:      
Animal Info:      
Type: Cat    
Name: Whiskers     
Sound: Meow

In [ ]:
#multipul inheritance
class animal:
    def __init__(self,name,atype):
        self.name=name
        self.atype=atype
    def display_info(self):
        print("Animal Info:")
        print(f"type : {atype}")
        print(f"Name : {self.name}")
class dog(animal):
    def __init__(self,name):
        self.name=name
    def make_sound(self):
        print("Sound : Bark")
class cat(animal):
    def __init__(self,name):
        self.name=name
    def make_sound(self):
        print("Sound : Meow")

name=input()
atype=input()
if atype=="Dog" or atype=="dog":
    obj=dog(name)
    obj.display_info()
    obj.make_sound()
else:
    obj1=cat(name)
    obj1.display_info()
    obj1.make_sound()

fgh
dog
Animal Info:
type : dog
Name : fgh
Sound : Bark

In [ ]:
#encapculation   #buinding
class Student:
    def __init__(self,name,roll_no,fees):
        self.name=name
        self.roll_no=roll_no
        self.__fees=fees
        self.__fees_paid=0

    def pay_fees(self,amount):
        if 0<amount<=self.__fees-self.__fees_paid:
            self.__fees_paid+=amount
            print(f"Paid:{amount}")

    def display(self):
        print(f"Name : {self.name},Roll No : {self.roll_no}")
        print(f"Total : {self.__fees},Paid : {self.__fees_paid},Remaining : {self.__fees-self.__fees_paid}")

student=Student("DHEERAJ",32,130000)
student.display()
student.pay_fees(20000)
student.display()
student.pay_fees(46000)
student.display()

Name : DHEERAJ,Roll No : 32
Total : 130000,Paid : 0,Remaining : 130000
Paid:20000
Name : DHEERAJ,Roll No : 32
Total : 130000,Paid : 20000,Remaining : 110000
Paid:46000
Name : DHEERAJ,Roll No : 32
Total : 130000,Paid : 66000,Remaining : 64000

**02**    
A university library needs an efficient way to track book transactions. Each student can borrow up to 3 books at a time, and they must return the books within 7 days. Late returns are charged a fine of ₹5 per day after the due date. The librarian wants a system where students can borrow, return books, and view their transaction history. The system should also calculate fines automatically for late returns and show a summary of borrowed books and fines when requested.

Students will perform actions like borrowing a book, returning a book, or viewing account details. The librarian needs a detailed summary for each student, which includes the names of books currently borrowed and any accumulated fines. This system ensures that the borrowing process is streamlined and reduces manual work for the librarian.

Each student interaction will include their name, roll number, and the action they want to perform. If a student returns a book, the system will check the duration for which the book was borrowed and calculate the fine if it exceeds the due date. The system will provide clear and concise feedback for every action.

Input Format:   
Student Name   
Roll Number    
Action to Perform:    
1: Borrow a Book (requires book name).    
2: Return a Book (requires book name and number of days borrowed).   
3: View Account Details (displays borrowed books and fines).    

Output Format:           
Confirmation of actions (e.g., borrowed or returned books).      
Fine calculation for late returns.     
Detailed account summary including borrowed books and total fine.

-----------------------------------------------

Test Case 1:
Input:  
Alice  
101  
1  
Pride and Prejudice  
1  
Harry Potter  
2  
Harry Potter  
10  
3  

Output:
Alice (Roll No: 101) borrowed "Pride and Prejudice".  
Alice (Roll No: 101) borrowed "Harry Potter".  
Alice (Roll No: 101) returned "Harry Potter" after 10 days.  
Fine for "Harry Potter": ₹15.  
Account Details:    
Borrowed Books: Pride and Prejudice    
Total Fine: ₹15    

--------------------------------------------------

Test Case 2:
Input:   
Bob  
202  
1  
The Great Gatsby  
1  
1984  
3  

Output:
Bob (Roll No: 202) borrowed "The Great Gatsby".  
Bob (Roll No: 202) borrowed "1984".  
Bob (Roll No: 202) viewed account details.  
Account Details:  
Borrowed Books: The Great Gatsby, 1984  
Total Fine: ₹0

In [ ]:
#abstractmethod
from abc import ABC, abstractmethod

class Student(ABC):
    def __init__(self, name, roll_no, fees):
        self.name = name
        self.roll_no = roll_no
        self.__fees = fees
        self.__fees_paid = 0

    @abstractmethod
    def pay_fees(self, amount):
        pass

    @abstractmethod
    def display(self):
        pass

class Student1(Student):
    def pay_fees(self, amount):
        if 0 < amount <= self.__fees - self.__fees_paid:
            self.__fees_paid += amount
            print(f"Paid: {amount}")

    def display(self):
        print(f"Name : {self.name}, Roll No : {self.roll_no}")
        print(f"Total : {self.__fees}, Paid : {self.__fees_paid}, Remaining : {self.__fees - self.__fees_paid}")

student = Student1("DHEERAJ", 32, 130000)
student.display()
student.pay_fees(20000)
student.display()
student.pay_fees(46000)
student.display()

Name : DHEERAJ, Roll No : 32

AttributeError: 'Student1' object has no attribute '_Student1__fees'

In [ ]:
# prompt: **02**
# A university library needs an efficient way to track book transactions. Each student can borrow up to 3 books at a time, and they must return the books within 7 days. Late returns are charged a fine of ₹5 per day after the due date. The librarian wants a system where students can borrow, return books, and view their transaction history. The system should also calculate fines automatically for late returns and show a summary of borrowed books and fines when requested.
# Students will perform actions like borrowing a book, returning a book, or viewing account details. The librarian needs a detailed summary for each student, which includes the names of books currently borrowed and any accumulated fines. This system ensures that the borrowing process is streamlined and reduces manual work for the librarian.
# Each student interaction will include their name, roll number, and the action they want to perform. If a student returns a book, the system will check the duration for which the book was borrowed and calculate the fine if it exceeds the due date. The system will provide clear and concise feedback for every action.
# Input Format:
# Student Name
# Roll Number
# Action to Perform:
# 1: Borrow a Book (requires book name).
# 2: Return a Book (requires book name and number of days borrowed).
# 3: View Account Details (displays borrowed books and fines).
# Output Format:
# Confirmation of actions (e.g., borrowed or returned books).
# Fine calculation for late returns.
# Detailed account summary including borrowed books and total fine.
# -----------------------------------------------
# Test Case 1:
# Input:
# Alice
# 101
# 1
# Pride and Prejudice
# 1
# Harry Potter
# 2
# Harry Potter
# 10
# 3
# Output:
# Alice (Roll No: 101) borrowed "Pride and Prejudice".
# Alice (Roll No: 101) borrowed "Harry Potter".
# Alice (Roll No: 101) returned "Harry Potter" after 10 days.
# Fine for "Harry Potter": ₹15.
# Account Details:
# Borrowed Books: Pride

class Library:
    def __init__(self):
        self.borrowed_books = {}
        self.fines = {}

    def borrow_book(self, student_name, roll_number, book_name):
        if roll_number not in self.borrowed_books:
            self.borrowed_books[roll_number] = []
        if len(self.borrowed_books[roll_number]) < 3:
            self.borrowed_books[roll_number].append(book_name)
            print(f"{student_name} (Roll No: {roll_number}) borrowed \"{book_name}\".")
        else:
            print(f"{student_name} (Roll No: {roll_number}) cannot borrow more than 3 books.")

    def return_book(self, student_name, roll_number, book_name, days_borrowed):
        if roll_number in self.borrowed_books and book_name in self.borrowed_books[roll_number]:
            self.borrowed_books[roll_number].remove(book_name)
            fine = 0
            if days_borrowed > 7:
                fine = (days_borrowed - 7) * 5
                if roll_number not in self.fines:
                    self.fines[roll_number] = 0
                self.fines[roll_number] += fine
            print(f"{student_name} (Roll No: {roll_number}) returned \"{book_name}\" after {days_borrowed} days.")
            if fine > 0:
                print(f"Fine for \"{book_name}\": ₹{fine}")
        else:
            print(f"{student_name} (Roll No: {roll_number}) did not borrow \"{book_name}\".")

    def view_account_details(self, student_name, roll_number):
        borrowed_books_str = ", ".join(self.borrowed_books.get(roll_number, []))
        total_fine = self.fines.get(roll_number, 0)
        print("Account Details:")
        print(f"Borrowed Books: {borrowed_books_str}")
        print(f"Total Fine: ₹{total_fine}")


library = Library()

student_name = input()
roll_number = int(input())

while True:
    action = int(input())
    if action == 1:
        book_name = input()
        library.borrow_book(student_name, roll_number, book_name)
    elif action == 2:
        book_name = input()
        days_borrowed = int(input())
        library.return_book(student_name, roll_number, book_name, days_borrowed)
    elif action == 3:
        library.view_account_details(student_name, roll_number)
        break
    else:
        print("Invalid action.")
        break

KeyboardInterrupt: Interrupted by user

#Day-09 ---------26/12/24

linkedlist

In [ ]:
class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
class LinkedList:
    def __init__(self):
        self.head=None

    def append(self,data):
        new_node=Node(data)
        if not self.head:
            self.head=new_node
        else:
            current=self.head
            while current.next:
                current=current.next
            current.next=new_node
    def display(self):
        if not self.head:
            print("The list is empty")
        nodes=[]
        current=self.head
        while current:
            nodes.append(str(current.data))
            current=current.next
        print("-> ".join(nodes))
l=LinkedList()
l.append('a')
l.append(10)
l.append(10.345)
l.display()

a-> 10-> 10.345

In [ ]:
class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
class LinkedList:
    def __init__(self):
        self.head=None

    def append(self,data):
        new_node=Node(data)
        if not self.head:
            self.head=new_node
        else:
            current=self.head
            while current.next:
                current=current.next
            current.next=new_node
    def display(self):
        if not self.head:
            print("The list is empty")
        nodes=[]
        current=self.head
        while current:
            nodes.append(str(current.data))
            current=current.next
        print("-> ".join(nodes))

l=LinkedList()
n=int(input())
for i in range(n):
    data=input()
    l.append(data)
l.display()

3
nikhi
tdfw
525.0
nikhi-> tdfw-> 525.0

In [ ]:
class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
class LinkedList:
    def __init__(self):
        self.head=None

    def append(self,data):
        new_node=Node(data)
        if not self.head:
            self.head=new_node
        else:
            current=self.head
            while current.next:
                current=current.next
            current.next=new_node
    def insert_at_beginning(self, data):
        new_node = Node(data)
        new_node.next = self.head
        self.head = new_node

    # def insert_at_beginning(self,data):
    #     new_node=Node(data)
    #     new_node.next=self.head
    #     self.head=new_node

    def delete(self, data):
        if not self.head:
            print("List is empty.")
            return
        if self.head.data == data:
            self.head = self.head.next
            return
        current = self.head
        while current.next and current.next.data != data:
            current = current.next
        if current.next:
            current.next = current.next.next
        else:
            print("Node not found.")
    def display(self):
        if not self.head:
            print("The list is empty")
        nodes=[]
        current=self.head
        while current:
            nodes.append(str(current.data))
            current=current.next
        print("-> ".join(nodes))
def user_interface():
    ll = LinkedList()
    while True:
        print("\nChoose an option:")
        print("1. Append an element")
        print("2. Insert at the beginning")
        print("3. Delete an element")
        print("4. Display the list")
        print("5. Exit")
        choice = input("Enter your choice: ")

        if choice == "1":
            data =input("Enter the element to append: ")
            ll.append(data)
        elif choice == "2":
            data = int(input("Enter the element to insert at the beginning: "))
            ll.insert_at_beginning(data)
        elif choice == "3":
            data = int(input("Enter the element to delete: "))
            ll.delete(data)
        elif choice == "4":
            print("Current list:")
            ll.display()
        elif choice == "5":
            print("Exiting...")
            break
        else:
            print("Invalid choice. Please try again.")

user_interface()

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 1
Enter the element to append: ram

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 2
Enter the element to insert at the beginning: 258

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 1
Enter the element to append: 2

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 1
Enter the element to append: gg

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 1
Enter the element to append: 63

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 4
Current list:
258-> ram-> 2-> gg-> 63

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 1
Enter the element to append: 5

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 3
Enter the element to delete: 2
Node not found.

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 4
Current list:
258-> ram-> 2-> gg-> 63-> 5

Choose an option:
1. Append an element
2. Insert at the beginning
3. Delete an element
4. Display the list
5. Exit
Enter your choice: 5
Exiting...

In [ ]:
class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
class Stack:
    def __init__(self):
        self.top=None
    def push(self,data):
        new_node=Node(data)
        new_node.next=self.top
        self.top=new_node

    def display(self):
        if not self.top:
            print("Stack is empty")
            return

        nodes=[]
        current=self.top
        while current:
            nodes.append(str(current.data))
            current=current.next
        print("-> ".join(nodes))

    def pop(self):
        if not self.top:
            print("Stack is empty")
            return
        popped_data=self.top.data
        self.top=self.top.next
        return popped_data

stack=Stack()
stack.push(30)
stack.push(20)
stack.push(100)
stack.pop()
stack.display()

20-> 30

In [ ]:
 class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
class Stack:
    def __init__(self):
        self.top=None
    def push(self,data):
        new_node=Node(data)
        new_node.next=self.top
        self.top=new_node

    def display(self):
        if not self.top:
            print("Stack is empty")
            return

        nodes=[]
        current=self.top
        while current:
            nodes.append(str(current.data))
            current=current.next
        print("-> ".join(nodes))

    def pop(self):
        if not self.top:
            print("Stack is empty")
            return
        popped_data=self.top.data
        self.top=self.top.next
        return popped_data

    def peek(self):
        if not self.top:
            print("Stack is Empty")
            return None
        return self.top.data
    def is_empty(self):
        return self.top is None
stack=Stack()
stack.push(30)
stack.push(20)
stack.push(100)
stack.pop()
stack.pop()
# stack.pop()
print("Peek Element :",stack.peek())
print("Stack is Empty ? ",stack.is_empty())
stack.display()

Peek Element : 30
Stack is Empty ?  False
30

#Day-10 ----27/12/24

**01**   
A Robot wants to move through a cave grid of size M x N. (M- Rows N- Columns). It starts from (0,0) and destination is (M-1,N-1). It can only move right or down. Calculate the total number of ways robot can reach the destination.

Sample input 1:   
2 2    
Sample Output 1:    
2                

Sample input 2:    
3 3      
Sample Output 2:     

Sample input 3:     
5 5      
Sample Output 3:     
70

**02**   
In this lockdown a family of N members decided to play a game the rules of which are :-
=>All N members are made to sit uniformly in a circle (ie. from 1 to N in clockwise direction).
The game start with the person sitting at first position.
A song is played in the background. The lyrics of the song are denoted by a string which consists of only letters 'x' and 'y'. Assume that each lyric of the song is a single letter.

=>If the lyric 'x' occurs in the song, the member who is currently holding the Parcel passes it on to the next member. This passing takes place in clockwise direction.

=>If the lyric 'y' occurs in the song, the member who is currently holding the Parcel loses his/her chances of winning the game. He/she hands over the parcel to the next member (in clockwise direction) and moves out.    

=>The game continues until a single member survives in the end. He/she will be the winner of the game.     
Note that the song repeats continuously ie. while the game is going on, if at all the song ends, the stereo system will automatically start playing the song from the start without any delay.      
You have to find out the member who wins the game.    
  
Input :    
The input consists of 2 lines. The first line consists of N, the member of family in the class. The next line consists of a string denoting the lyrics of the song the teacher plays.    
Output:    
Print a single integer denoting the roll number of the student who wins the game.       

Constraints:  
2≤N≤100000      
1≤|S|≤10000, where |S| denotes the length of the input string. It is guaranteed that at least 1 lyric in the song will be a 'y'    
Note: Copy and paste is disabled for all the questions. Try not to use other ideas.

Sample input:   
3   
xyx   

Sample output:    
1    
Explanation: Starting from 1 lyrics : 'x' therefore he passes the ballto 2nd     
2nd turn lyrics : 'y' therefore 2nd member gets out of game and passes to 3rd   
3rd turn lyrics : 'x' therefore 3rd passes ball to first.     
4th turn lyrics : 'x' passes to 3rd           
5th turn lyrics: 'y' therefore gets eliminated.      
Hence person sitting at position 1 won this game.