In [ ]:
#simple if
a=int(input("enter value of a "))
b=int(input("enter value of b "))
if a>b:
  print("a is bigger")

enter value of a 10
enter value of b 5
a is bigger

In [ ]:
# if else
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
if a>b:
  print("a is bigger")
else:
  print("b is bigger")

enter value of a =5
enter value of b =6
b is bigger

In [ ]:
#if..elif..else
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
if a>b:
  print("a is bigger")
elif a<b:
  print("b is bigger")
else:
  print("both are equal")


  #-----------------------

a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
if a==b:
  print("both are equal")
elif a>b:
  print("a is bigger")
else:
  print("b is bigger")

enter value of a =5
enter value of b =5
both are equal
enter value of a =6
enter value of b =3
a is bigger

In [ ]:
s1=int(input("enter value of s1 ="))
s2=int(input("enter value of s2 ="))
if s1>=35 and s2>=35:
  print("pass")
else:
  print("fail")

enter value of s1 =56
enter value of s2 =35
pass

In [ ]:
s1=int(input("enter value of s1 ="))
s2=int(input("enter value of s2 ="))
if s1<35 or s2<35:
  print("pass")
else:
  print("fail")

enter value of s1 =5
enter value of s2 =65
pass

In [ ]:
#find where u entered number is 500 or not?(using not operater)
n=int(input("enter value of n ="))
if not(n==500):
  print("n is not 500")
else:
  print("n is 500")

In [ ]:
#find bigger number from 3 numbers(using AND operater)
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
c=int(input("enter value of c ="))
if a>b and a>c:
  print("a is bigger")
elif b>a and b>c:
  print("b is bigger")
elif c>a and c>b:
  print("c is bigger")
else:
  print("all are equal")

enter value of a =5
enter value of b =6
enter value of c =1
b is bigger

In [ ]:
#find bigger number from 3 numbers(using nested if)
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
c=int(input("enter value of c ="))
if a>b:
  if a>c:
    print("a is bigger")
  else:
    print("c is bigger")
elif b>a:
  if b>c:
    print("b is bigger")
  else:
    print("c is bigger")
else:
  print("all are equal")

enter value of a =5
enter value of b =6
enter value of c =9
c is bigger

In [ ]:
#program to find vowel and consonent
ch=input("enter value of ch =")
if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
  print("given letter is vowel")
else:
  print("given letter is consonent")

enter value of ch =k
given letter is consonent

In [ ]:
#program tot find on even or odd
n=int(input("enter value of n ="))
if n%2==0:
  print("given number is even")
else:
  print("given number is odd")

In [ ]:
#program on find whether the person is eligible to vote or not
age=int(input("enter value of age ="))
if age>=18:
  print("person is eligible to vote")
else:
  print("person is not eligible to vote")

In [ ]:
#program to find positive or negative or zero number
n=int(input("enter value of n ="))
if n>0:
  print("given number is positive")
elif n<0:
  print("given number is negative")
else:
  print("given number is zero")

enter value of n =-6
given number is negative

**menu type programs**

In [ ]:
#-----------menu type programs

#perfrom arthmatic opertaions on 2 numbers as per user choice
print("1.add")
print("2.sub")
print("3.mul")
print("4.div")
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
ch=int(input("enter value of ch ="))
if ch==1:
  print("add=",a+b)
elif ch==2:
  print("sub=",a-b)
elif ch==3:
  print("mul=",a*b)
elif ch==4:
  if b!=0:
    print("div=",a/b)
  else:
    print("b should not be 0")
else:
  print("invalid choice")

1.add
2.sub
3.mul
4.div
enter value of a =8
enter value of b =1
enter value of ch =9
invalid choice

In [ ]:
#menu type programs
#perfrom arthamatic operation on 2 numbers by accpting an arthamatic operater
print("+")
print("-")
print("*")
print("/")
a=int(input("enter value of a ="))
b=int(input("enter value of b ="))
opt=input("enter the operate to perfrom ")
if opt=="+":
  print("add=",a+b)
elif opt=="-":
  print("sub=",a-b)
elif opt=="*":
  print("mul=",a*b)
elif opt=="/":
  if b!=0:
    print("div=",a/b)
  else:
    print("b should not be 0")
else:
  print("invalid operater")

+
-
*
/
enter value of a =5
enter value of b =5
enter the operate to perfrom -
sub= 0

In [ ]:
'''program to accept meter number,consumer name,opening meter reading,closing meter readings.
calculate number of units consumed and bill amount.
   units               rate per unit
   -----               -------------
   <100                 0.50
    >=100               1.00
    <250
    >=250               1.50
    <500
    >=500               2.00

                    output
    ------------------------------------------------------
                             NPDCL
              telangana state Electricity Board
              corporate offic - Warangl
     ----------------------------------------------------
              Electricity Bill -January-2025
    ---------------------------------------------------
    Meter Number  :
    cousumer Name :
        opening meter reading  :
        closing meter reading  :
              number of units consumed :
    -----------------------------------------------------
              bill amount :
   -------------------------------------------------------      '''
#---------------------------
meter_number=input("enter meter number =")
consumer_name=input("enter consumer name =")
o_m_r=int(input("enter opening meter reading ="))
c_m_r=int(input("enter closing meter reading ="))
no_of_units_consumed=c_m_r-o_m_r
print("               Output              ")
print()
print("-------------------------------------------------")
print("                      NDCPL                      ")
print("       telangana state Electricity Board         ")
print("       corporate offic - Warangl        ")
print("-------------------------------------------------")
print("       Electricity Bill -January-2025")
print("-------------------------------------------------")
print("   Meter Number  :",meter_number)
print("   cousumer Name :",consumer_name)
print("         opening meter reading  :",o_m_r)
print("         closing meter reading  :",c_m_r)
print("               number of units consumed :",no_of_units_consumed)

if no_of_units_consumed<100:
  bill_amount=0.50*no_of_units_consumed
  #print(bill_amount)
elif no_of_units_consumed>=100 and no_of_units_consumed<250:
  bill_amount=1.00*no_of_units_consumed
  #print(bill_amount)
elif no_of_units_consumed>=250 and no_of_units_consumed<500:
  bill_amount=1.50*no_of_units_consumed
  #print(bill_amount)
elif no_of_units_consumed>=500:
  bill_amount=2.00*no_of_units_consumed
  #print(bill_amount)
else:
  print("invalid input")
print("-------------------------------------------------")
print("               bill amount :",bill_amount)
print("-------------------------------------------------")

enter meter number =12345
enter consumer name =Nikhil
enter opening meter reading =150
enter closing meter reading =400
               Output

-------------------------------------------------
                      NDCPL
       telangana state Electricity Board
       corporate offic - Warangl
-------------------------------------------------
       Electricity Bill -January-2025
-------------------------------------------------
   Meter Number  : 12345
   cousumer Name : Nikhil
         opening meter reading  : 150
         closing meter reading  : 400
               number of units consumed : 250
-------------------------------------------------
               bill amount : 375.0
-------------------------------------------------

In [ ]:
'''program to accept empolyee number,employee name ,basic salary,
calculater hra,ta,da,lic,pf,it,gross salary and net salary.

    bsal       hra      ta       da     lic      pf       it
    ----       ---      ---     ----   -----    -----     ------
    <10000     1%        2%     3%      1.5%    2.2%      3.3%
    >=10000    2%        3%     4%      1.5%    2.5%      3.5%
    <25000
    >=25000    3%        4%     5%      1.75%  2.75%      3.25%
    <50000
    >=50000    4%        5%    6%       2%      3%         4%       '''


#--------------------------------------------------
empolyee_number=input("enter empolyee number =")
employee_name=input("enter employee name =")
basic_salary=int(input("enter basic salary ="))